
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: "Roboto Condesed", sans-serif !important;
}

:root {
  --primary-white: #fff;
  --primary-orange: orange;
  --primary-red: red; 
  --primary-dark: rgba(255,255,255,0);
  --primary-hover-red: red; 

}
/***********Navbar**********************/
.logo {
  width: 3rem;
}
.container-fluid a{
  color: var(--primary-white);
  text-transform: uppercase;
}
/*************************** Manu link ************************/
nav ul li a{
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
 
}
.navbar-nav li a{
  border-top: 0.1875rem solid var(--primary-dark);
}
nav ul li{
  text-transform: uppercase ;
}
nav ul li a:hover{
  color: var(--primary-orange) !important;
}

nav ul li a:focus{
  border-top: 0.1875rem solid var(--primary-white);
}

/*************************** Header ************************/
.main-info h1{
  color: var(--primary-orange);
  text-align: center;
}
.header-wraper {
  text-align: center;
  color: var(--primary-white);
  background: url("backgroundImage.jpg");
  position: relative;
  background-size: cover;
  background-position: center;
  height: 90vh;
  font-size: 2rem;
}
.main-info button:hover{
  background-color: var(--primary-orange)!important;
}

/*************************** About me ************************/
.photo-wrap{
  display:flex;
  justify-content: center;
  align-items:center;
}
.profile{
  border-radius: 50%;
  width: 16rem;
  padding:.3rem;
  border: 1px solid var(--primary-orange);
}
.about-heading {
  color: var(--primary-orange);
  text-transform: uppercase;

}
@media(max-width: 460px) {
  .profile{
    width:10rem;
  }
}